.iconMenu__content:empty {
    display: none;
}

icon-menu {
    display: flex;

    .comboBox {
        right: 0;
        margin-right: -0.875rem;
    }

    .inputCombo__input--active {
        arpa-icon {
            color: var(--color-primary);
        }
    }
}

.iconMenu__button button:hover {
    color: var(--color-primary);
    background-color: var(--selected-hilight);
}

.iconMenu__navigation {
    position: relative;
    z-index: 10;
    overflow: auto;
}
