li.navLink {
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.navLink {
    display: flex;
    align-items: center;

    .listItem__main.listItem__main {
        flex: none;
        border-radius: 8px;
    }

    .listItem__content {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding-top: 2px;
        font-size: 1rem;
        font-weight: 500;
        color: var(--grey-500);
    }

    .navLink__handler {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 8px 12px;
        color: var(--grey-600);
        text-decoration: none;
        background-color: transparent;
        border: none;

        &:hover {
            color: var(--color-primary);
        }
    }
}
