:root {
    /**
    * Sizing
    */

    --sidenav-collapsed-width: 3.5rem;
    --side-nav-expanded-width: 320px;
    --side-nav-width: var(--side-nav-expanded-width);
    --side-nav-link-height: 2.7rem;

    --side-nav-child-padding: 0.8rem;
    --side-nav-link-padding: 0.5rem 0.75rem 0.5rem 1rem;

    --side-nav-collapsed-button-width: var(--sidenav-collapsed-width);
    --side-nav-collapsed-button-height: 2.5rem;
    --side-nav-collapsed-header-height: 3rem;

    --side-nav-gap: 0.25rem;
    --side-nav-button-radius: 8px;

    /**
    * Colors
    */

    --side-nav-selected-bg-color: var(--lavender);
    --side-nav-link-bg-color: var(--grey-50);
    --side-nav-hover-bg-color: var(--lavender-light);

    --side-nav-link-text-color: var(--grey-600);
    --side-nav-link-text-color-hover: var(--grey-700);
    --side-nav-icon-color: var(--grey-400);

    /**
    * Font
    */

    --side-nav-link-text-weight: 600;
    --side-nav-link-text-bold: 700;
    --side-nav-underline: none;
    --side-nav-underline-color: var(--grey-600);
    --side-nav-underline-height: 2px;
    --side-nav-underline-offset: 2px;

    /**
    * Icons
    */

    --side-nav-icon-size: 1.5rem;
    --side-nav-icon-hover-color: var(--grey-600);
    --side-nav-icon-active-color: var(--blue-neon-dark);
}

.sideNav {
    --icon-size: 1.7rem;

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 1rem;
    justify-content: flex-start;
    max-width: var(--side-nav-width);
    overflow: auto;
    padding: 0.5rem;
    scrollbar-width: none;
    transition: var(--side-nav-transition-shrink);
    width: var(--side-nav-width);

    &::-webkit-scrollbar {
        display: none;
    }

    /**
    * Common styles for NAV LINKS and BUTTONS
    */
    .iconButton__button,
    .listItem__link,
    button.navButton__button {
        width: 100%;
        align-items: center;
        outline: none;
        position: relative;
        background-color: var(--side-nav-link-bg-color);
        border-radius: var(--side-nav-button-radius);
        border: 0px solid transparent;
        cursor: pointer;
        display: flex;
        gap: 0.5rem;
        padding: var(--side-nav-link-padding);
        min-height: var(--side-nav-link-height);
        transition: var(--theme-transition);
        box-shadow: none !important;

        .arpaButton__rhsIcon {
            opacity: var(--side-nav-animation-opacity);
            transition: var(--side-nav-transition-fade);
        }

        .arpaButton__content,
        .listItem__content {
            color: var(--side-nav-link-text-color);
            font-weight: var(--side-nav-link-text-weight);
            font-family: var(--font-quicksand);
            text-align: left;
            cursor: pointer;

            text-decoration-color: var(--side-nav-underline-color) !important;
            text-underline-offset: var(--side-nav-underline-offset);
            text-decoration-thickness: var(--side-nav-underline-height);

            opacity: var(--side-nav-animation-opacity);
            transition: var(--side-nav-transition-fade);
            @starting-style {
                opacity: 0;
            }
        }

        arpa-icon {
            font-size: var(--side-nav-icon-size);
            color: var(--side-nav-icon-color);
        }

        &:focus,
        &:hover {
            border: 0px solid transparent;
            background-color: var(--side-nav-hover-bg-color);
            .arpaButton__content,
            .listItem__content {
                color: var(--side-nav-link-text-color-hover);
                font-weight: 700;
            }

            arpa-icon {
                color: var(--side-nav-icon-hover-color);
            }
        }

        &:focus {
            outline: none;
            border: none;
            &::before {
                background-color: var(--blue-neon-lightest);
            }
            arpa-icon {
                color: var(--lavender-dark) !important;
            }
        }
    }

    .accordion__item--open {
        > .navButton__button {
            --side-nav-link-bg-color: var(--side-nav-selected-bg-color);
            --side-nav-link-text-weight: var(--side-nav-link-text-bold);
            --side-nav-link-text-color: var(--blue-neon-dark);

            .arpaButton__content {
                text-decoration: underline;
            }

            arpa-icon {
                color: var(--side-nav-icon-active-color);
            }

            .icon--chevron_left {
                transform: rotate(270deg);
            }

            &::before {
                background-color: var(--lavender-medium);
            }
        }
    }
}

/* ------------ 
 -- LINKS
 -------------- */

.sideNav__links {
    position: relative;
    --listItem-hover-color: var(--blue-neon-dark);

    .navList {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .navButton {
        gap: var(--side-nav-gap);
        padding: 0;
    }
}

/* ------------ 
 -- Button Drop
 -------------- */

.sideNav__links {
    .listItem__link::before,
    .navButton__button::before {
        transition: var(--theme-transition);
        content: '';
        display: block;
        position: absolute;

        background-color: var(--grey-150);

        left: 4px;
        width: 6px;
        top: 4px;
        bottom: 4px;

        right: auto;
        border-radius: 10px 0px 0px 10px;
    }

    .listItem__link::before {
        right: 4px;
        left: auto;
        border-radius: 0px 10px 10px 0px;
    }
}

/* ------------ 
 -- Elements
 -------------- */

.sideNav__toggleButton.sideNav__toggleButton {
    --icon-button-size: var(--side-nav-collapsed-button-width);
    --icon-button-hilight-border: 2px solid var(--color-primary);
    --icon-button-border-radius: var(--side-nav-button-radius);
}

.sideNav__titleContainer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sideNav__title {
    flex: 1 1 auto;
    min-width: 0;
}

.sideNav__tooltip {
    .tooltip__content.tooltip__content {
        position: relative;
        margin-top: -0.8rem;
        padding-left: 0.5rem !important;
        font-size: 0.875rem;
        color: var(--grey-600);
        font-weight: 500;
    }
}

.sideNav__links,
.sideNav__links .navList {
    gap: var(--side-nav-gap);
    display: flex;
    flex-direction: column;
}

/** -----------
 -- Transitions
 -------------- */
:root {
    --side-nav-animation-opacity: 1;
    --side-nav-transition-delay: 0.3s;
    --side-nav-transition-width-delay: 0.3s;

    interpolate-size: allow-keywords;

    --side-nav-shrink-ease: var(--easeInOutSine);
    --side-nav-grow-ease: var(--easeInOutSine);
    --side-nav-transform-duration: 0.3s;

    --side-nav-transition-fade: opacity 0.2s var(--easeOutSine);
    --side-nav-transition-height: height var(--side-nav-transform-duration) var(--side-nav-shrink-ease)
        var(--side-nav-transition-delay);

    --side-nav-transition-shrink: width var(--side-nav-transform-duration) var(--side-nav-shrink-ease)
            var(--side-nav-transition-width-delay),
        max-width var(--side-nav-transform-duration) var(--side-nav-shrink-ease)
            var(--side-nav-transition-width-delay),
        opacity 0.3s var(--side-nav-shrink-ease), gap 0.3s var(--side-nav-transition-delay),
        padding 0.3s var(--side-nav-transition-delay);

    --side-nav-transition-grow: width var(--side-nav-transform-duration) var(--side-nav-grow-ease),
        max-width var(--side-nav-transform-duration) var(--side-nav-grow-ease),
        opacity 0.3s var(--side-nav-grow-ease), gap 0.3s var(--side-nav-grow-ease),
        padding 0.3s var(--side-nav-grow-ease);
}

.sideNav__title,
.sideNav__footerContent,
.listItem__contentWrapper,
.sideNav__headerContent {
    height: auto;
    transition: var(--side-nav-transition-height), var(--side-nav-transition-fade),
        width var(--side-nav-transform-duration) var(--side-nav-grow-ease);
    opacity: var(--side-nav-animation-opacity);
}

/**
* - Collapsed
*/

.sideNav:not(.sideNav--collapsing) {
    min-width: var(--side-nav-width);
    .sideNav__links .navList .listItem__link {
        padding-left: var(--side-nav-child-padding);
        height: auto;
    }

    .sideNav__tooltip {
        display: none;
    }
}

.sideNav--collapsing {
    padding: 0;
    --side-nav-animation-opacity: 0;
    gap: var(--side-nav-gap);
    max-width: var(--sidenav-collapsed-width);
    width: var(--sidenav-collapsed-width);
    overflow-x: hidden;

    @starting-style {
        width: var(--side-nav-width);
    }

    .listItem__contentWrapper,
    .sideNav__title,
    .sideNav__footerContent,
    .sideNav__headerContent {
        height: 0;
        overflow: hidden;
    }

    .sideNav__titleContainer {
        gap: 0;
    }

    .sideNav__toggleButton .icon--expand_more {
        transform: rotate(-90deg);
    }

    .navButton {
        overflow: hidden;
    }
}

/**
* - Expanding
*/

.sideNav--expanding.sideNav--expanding {
    --side-nav-transition-fade: opacity var(--side-nav-transform-duration) var(--easeOutSine)
        var(--side-nav-transition-delay);
    transition: var(--side-nav-transition-grow);
    opacity: 1;
    @starting-style {
        opacity: 0;
    }
}
